<a href="https://colab.research.google.com/github/preethadk11/programming/blob/main/basicpython_.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**add two numbers**

In [2]:
a=90;b=90;print(a+b)

180

**maximum of two numbers**

In [3]:
a=90
b=89
if a>b:
  print(f"{a} is greater")
else:
  print(f"{b} is greater")

90 is greater

**factorial of a number**

In [4]:
num=int(input("Enter the number: "))
fact=1
for i in range(1,num+1):
  fact=fact*i
print(f"factorial of {num} is {fact}")

Enter the number: 5
factorial of 5 is 120

**simple interest**

In [5]:
p=int(input("Enter the principle amount:  "))
r=int(input("Enter the rate of interest: "))
t=int(input("Enter the time period: "))
si=(p*r*t)/100
print(f"simple interest is {si}")

Enter the principle amount:  5000
Enter the rate of interest: 10
Enter the time period: 2
simple interest is 1000.0

**compound interest**

In [7]:
p=int(input("Enter the principal amount: "))
r=int(input("Enter the annual interest rate: "))
t=int(input("Enter the time period: "))
a=p*(1+(r/100))**t
c=a-p
print(f"compound interest:{c:.2f}")

Enter the principal amount: 10000
Enter the annual interest rate: 5
Enter the time period: 3
compound interest:1576.25

**Armstrong number**

In [13]:
n=int(input("Enter the number: "))
sum=0
temp=n
while(temp>0):
  rem=temp%10
  sum+=rem**3
  temp=temp//10
if n==sum:
  print(f"{n} is a Armstrong numbr")
else:
  print(f"{n} is not a Armstrong number")

Enter the number: 153
153 is a Armstrong numbr

**area of circle**

In [15]:
import math
r=int(input("Enter the radius of circle: "))
area=math.pi*r*r
print(f"{area:.2f}")

Enter the radius of circle: 7
153.94

**Print all prime numbers in an interval**

In [26]:
import math
n=int(input("Enter the number: "))
for i in range(2,n):
  for j in range(2,int(i**0.5)+1):
    if i%j==0:
      break
  else:
    print(i,end=" ")

Enter the number: 7
2 3 5

In [31]:

for i in range(2,50):
  is_prime=True
  for j in range(2,int(i**0.5)+1):
    if i%j==0:
      is_prime=False
      break

  if is_prime:
    print(i,end=" ")

2 3 5 7 11 13 17 19 23 29 31 37 41 43 47

In [47]:
n=int(input("Enter a number: "))
if n<2:
    print(False)
else:
    for i in range(2,n-1):
        if n%i==0:
             print(False)
             break
    else:
        print(True)

Enter a number: 7
True

In [53]:
n=6
list1=[i for i in range(2,n+1) if all(i%j!=0 for j in range(2,int((i**0.5)+1))) ]
print(list1)

[2, 3, 5]

In [55]:
n=2
count=0
list1=[]
while count<50:
  for i in range(2,int(n**0.5)+1):
    if n%i==0:
      break
  else:
    list1.append(n)
    count+=1
  n+=1
print(list1)

[2, 3, 5, 7, 11, 13, 17, 19, 23, 29, 31, 37, 41, 43, 47, 53, 59, 61, 67, 71, 73, 79, 83, 89, 97, 101, 103, 107, 109, 113, 127, 131, 137, 139, 149, 151, 157, 163, 167, 173, 179, 181, 191, 193, 197, 199, 211, 223, 227, 229]